<div class="container">
  {{!-- <div class="col-10 mx-auto"> --}}


    <div class="row g-3 mt-5 p-2">
      <div class="col-sm select-group">
        {{! <div class="form-floating"> }}
          <select class="form-select btn-info" id="floatingSelectGrid" aria-label="Floating label select example">
            <option selected disabled>年份</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          {{! <label for="floatingSelectGrid">Works with selects</label> }}
          {{!--
        </div> --}}
      </div>
      <div class="col-md select-group">
        {{! <div class="form-floating"> }}
          <select class="form-select btn-info" id="floatingSelectGrid" aria-label="Floating label select example">
            <option selected disabled>月份</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          {{! <label for="floatingSelectGrid">Works with selects</label> }}
          {{!--
        </div> --}}
      </div>
      <div class="col-md select-group">
        {{! <div class="form-floating"> }}
          <select class="form-select btn-info" id="floatingSelectGrid" aria-label="Floating label select example">
            <option selected disabled>類別</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          {{! <label for="floatingSelectGrid">Works with selects</label> }}
          {{!--
        </div> --}}
      </div>
      {{!-- 第二種備用 --}}
      {{!-- <form>
        <div class="row g-1">
          <div class="col-4 col-md">
            <div class="form-group">

              <select class="form-select btn-primary" id="exampleSelect1">
                <option>類別</option>
                <option>交通出行</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="col-4 col-md">
            <div class="form-group">

              <select class="form-select" id="exampleSelect1">
                <option>月份</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="col-4 col-md">
            <div class="form-group">
              <select class="form-select" id="exampleSelect1">
                <option>年份</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
        </div>
      </form> --}}
      {{!-- 第二種備用 --}}

    </div>
    <div class="total-demo p-2">
      <div class="row bg-dark col-12 mx-auto">
        <div class="col-5 border border-1 border-success">
          <p class="total-name text-secondary">總金額 : </p>
        </div>
        <div class="col-7 border border-1 border-warning">
          <p class="total-amount text-warning">25260</p>
        </div>
      </div>
    </div>

    <table class="table table-warning table-striped table-hover">
      {{!-- <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Column heading</th>
          <th scope="col">Column heading</th>
          <th scope="col">Column heading</th>
        </tr>
      </thead> --}}
      <tbody>
        <tr>
          <th scope="row"><i class="fas fa-home fa-5x"></i></th>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
        <tr>
          <th scope="row"><i class="fa-solid fa-house">123</i></th>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
         <tr>
          <th scope="row">Active</th>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <th scope="row">Active</th>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>

      </tbody>
    </table>

    {{!--
  </div> --}}
</div>