<div class="container newDisplay">
  <form action="/new" method="post">
    <div class="row g-3 align-items-center input-demo">
      <div class="col-3" id="input-demo-title">
        <label for="inputPassword6" class="col-form-label" id="col-form-label-title">
          <p>*必填欄位</p>
        </label>
      </div>
      <div class="col-6 form-p">
        <p>請輸入你的支出</p>
      </div>
    </div>
    <hr>
    <div class="row g-3 align-items-center input-demo">
      <div class="col-3">
        <label for="name" class="col-form-label"><span>名稱<small>* </small>  :</span></label>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <input type="text" id="name" class="form-control" aria-describedby="passwordHelpInline" name="name" minlength="0" maxlength="20" onkeyup="value=value.replace(/[^\w\u4E00-\u9FA5]/g, '')" placeholder="請輸入名稱." value=" " >
      </div>
    </div>
    <div class="row g-3 align-items-center input-demo">
      <div class="col-3">
        <label for="date" class="col-form-label"><span>日期<small>* </small> :</span></label>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <input type="date" id="date" class="form-control" name="date" min="{{options.start}}" max="{{options.end}}" aria-describedby="passwordHelpInline">
      </div>
    </div>
    <div class="row g-3 align-items-center input-demo">
      <div class="col-3">
        <label for="category" class="col-form-label"><span>類別<small>* </small> :</span></label>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <select id="category" class="form-select" name="category">
          {{#each categories}}
           <option>{{this.category}}</option>
          {{/each }}
        </select>
      </div>
    </div>
    <div class="row g-3 align-items-center input-demo">
      <div class="col-3">
        <label for="amount" class="col-form-label"><span>金額<small>*  </small> :</span></label>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <input type="text" id="amount" class="form-control" aria-describedby="passwordHelpInline" minlength="0" maxlength="12" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" name="amount" placeholder="請輸入金額." value="">
      </div>
    </div>
    <div class=" new-button">
      <button class="a_demo_one col-5">新增支出</button>
    </div>
  </form>
</div>