<div class="container newDisplay">
  <form action="/" method="post">
    <div class="row g-3 align-items-center input-demo">
      <div class="col-3" id="input-demo-title">
        <label for="inputPassword6" class="col-form-label" id="col-form-label-title">
          <p>*必填欄位</p>
        </label>
      </div>
      <div class="col-6 form-p">
        <p>請輸入你的支出</p>
      </div>
    </div>
    <hr>
    <div class="row g-3 align-items-center input-demo">
      <div class="col-3">
        <label for="inputPassword6" class="col-form-label"><span>名稱<small>* </small>  :</span></label>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
      </div>
    </div>
    <div class="row g-3 align-items-center input-demo">
      <div class="col-3">
        <label for="inputPassword6" class="col-form-label"><span>日期<small>* </small> :</span></label>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <input type="date" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
      </div>
    </div>
    <div class="row g-3 align-items-center input-demo">
      <div class="col-3">
        <label for="inputPassword6" class="col-form-label"><span>類別<small>* </small> :</span></label>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <select id="disabledSelect" class="form-select">
          <option>Disabled select</option>
        </select>
      </div>
    </div>
    <div class="row g-3 align-items-center input-demo">
      <div class="col-3">
        <label for="inputPassword6" class="col-form-label"><span>金額<small>*  </small> :</span></label>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <input type="number" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
      </div>
    </div>
    <div class=" new-button">
      <button class="a_demo_one col-5">新增支出</button>
    </div>
  </form>
</div>