body {
  background-color: rgb(209, 225, 236);
}
.container {
  /* border: 1px solid red; */
  max-width: 1000px;
  min-width: 380px;
}

.select-group {
  display: flex;
  justify-content: center;
}
.select-group > .form-select {
  max-width: 150px;
  min-width: 50px;
}
.total-demo {
  margin-top: 20px;
  border-radius: 115px;
}
.total-demo .total-name {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  color: rgb(245, 206, 216);
}
.total-demo .total-amount {
  padding: 10px;
  font-size: 50px;
  text-align:start;
}

.list-demo {
  margin-top: 10px;
  /* background-color: rgb(35, 70, 3); */
  padding: 20px 30px 20px;
  overflow: auto;
  height: 470px;
}
.list-group-item {
  background-color: rgb(255, 241, 223);
}
.list-group-item > .row > .icon {
  display: flex;
  justify-content: center;
}
.list-group-item > .row > .content {
  display: grid;
}
.list-group-item > .row > .content >.name {
  font-size: 30px;
  display: flex;
  align-items: center;
}
.list-group-item > .row > .content > .date {
  display: flex;
  align-items: center;
}
.list-group-item > .row > .amount {
  /* border: 1px solid rgb(118, 124, 25); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.btn-demo {
  /* border: 1px solid rgb(41, 38, 38); */
  display: flex;
  justify-content:space-evenly;
  padding: 20px;
}

.fa-house {
  color: rgb(28, 53, 168);
}
.fa-utensils {
  color: rgb(165, 42, 89);
}
.fa-pen {
  color: rgb(42, 165, 149);
}
.fa-van-shuttle {
  color: rgb(163, 128, 14);
}
.fa-face-grin-beam {
  color: rgb(233, 164, 132);
}

