body {
  background-color: rgb(209, 225, 236);
  background-image:url(https://png.pngtree.com/thumb_back/fw800/background/20211103/pngtree-2022-popular-color-gray-curve-background-image_913075.png);
  background-size: cover;
}
.container {
  max-width: 1000px;
  min-width: 380px;
}

.select-group {
  display: flex;
  justify-content: center;
}
.select-group > .form-select {
  max-width: 150px;
  min-width: 50px;
}
.total-demo {
  margin-top: 20px;
  border-radius: 115px;
}
.total-demo .total-name {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  color: rgb(245, 206, 216);
}
.total-demo .total-amount {
  padding: 10px;
  font-size: 50px;
  text-align:start;
}

.list-demo {
  margin-top: 10px;
  padding: 20px 30px 20px;
  overflow: auto;
  height: 470px;
}
.list-group-item {
  background-color: rgb(255, 241, 223);
}
.list-group-item > .row > .icon {
  display: flex;
  justify-content: center;
}
.list-group-item > .row > .content {
  display: grid;
}
.list-group-item > .row > .content >.name {
  font-size: 30px;
  display: flex;
  align-items: center;
}
.list-group-item > .row > .content > .date {
  display: flex;
  align-items: center;
}
.list-group-item > .row > .amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.btn-demo {
  display: flex;
  justify-content:space-evenly;
  padding: 20px;
}

.fa-house {
  color: rgb(28, 53, 168);
}
.fa-utensils {
  color: rgb(165, 42, 89);
}
.fa-pen {
  color: rgb(42, 165, 149);
}
.fa-van-shuttle {
  color: rgb(163, 128, 14);
}
.fa-face-grin-beam {
  color: rgb(233, 164, 132);
}


/* newDisplay */
.newDisplay {
  padding: 10px;
  max-width: 700px;
  margin-top: 50px;
  background-color: #b8e0da;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(117, 165, 157, 0.8);
}

.input-demo {
  margin-top: 20px;
}
.col-form-label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#input-demo-title {
  margin-top: -10px;
}
#col-form-label-title > p {
  font-size: 14px;
}
.col-form-label > span {
  font-size: 20px;
}
.col-form-label > span > small {
  vertical-align: top;
}
.form-p {
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.new-button {
  margin-top: 26px;
  display: flex;
  justify-content: center;

}
.a_demo_one {
  margin-bottom: 20px;
	background-color:#3bb3e0;
	padding:10px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	text-decoration:none;
	color:#fff;
	border: solid 1px #186f8f;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.a_demo_one:active {
	padding-bottom:9px;
	padding-left:10px;
	padding-right:10px;
	padding-top:11px;
	top:1px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
}

/* errorDisplay */
.errorDisplay {
}
.error-icon {
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: tomato;
  margin-top: 150px;
  text-shadow: 10px 10px 2px orange, 20px 20px 2px silver;
}
.error-message {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 50px;
  color: rgb(190, 216, 241);
  text-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 2px blue;
}